.mTitle
{
    font-size: 62px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    cursor: pointer;
    font-family: 'Futura','Press Start 2P', cursive;
    line-height: +1.5;
}

.buttonLarge {
    background-color: rgb(0,128,136);opacity:1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    border: none;
    border-radius: 22px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 65px;
    margin: 4px 2px;
    width:90%;
  }

  .mobileInput
  {
    font-size: 75px;
    width: 98%;
  }


.mHeader
{
    font-size: 62px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #39ff14, 0 0 30px #39ff14, 0 0 40px #ff0080, 0 0 55px #39ff14, 0 0 75px #ff0080;
    cursor: pointer;
    font-family: 'Futura','Press Start 2P', cursive;
    line-height: +1.5;
}

.quizTable
{
    font-size: 62px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #39ff14, 0 0 30px #39ff14, 0 0 40px #ff0080, 0 0 55px #39ff14, 0 0 75px #ff0080;
}


.answerTxt
{
    font-size: 62px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #39ff14, 0 0 30px #39ff14, 0 0 40px #ff0080, 0 0 55px #39ff14, 0 0 75px #ff0080;
}
