<html>
    <head>
            <script type="text/javascript">document.domain = "suralink.com";</script>
            <style>
                    body
                    {
                        background-color:#000;
                        margin:0;
                        padding:0;
                        width:1280px;
                        height:1024px;
                        overflow:hidden;
                    }
            </style>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
<body>
<video id="introVideo" width="1280" height="1024" autoplay loop>
    <source src="https://www.suralink.com/utahjs/theIntro.mp4" type="video/mp4" autoplay>
</video>
<script type="text/javascript" src="../js/intro.js"></script>
</body>
</html>