body
{
    background-color:#111;
    background-image:url("wallpaper.jpg");
    background-repeat:no-repeat;
    margin: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 0 6px 0;
    overflow: hidden;
    background-color: #ccc;
}

li {
    float: left;
    margin-left: 14px;
    margin-right: 14px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}


.header
{
    padding: 8px;
    position: relative;
    font-size: 34px;
    /*color: rgba(120, 0, 50, .95);*/
    color:#ffff;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.header
{
    animation: border-flicker 2s linear forwards;
}

.header h1 .first
{
    animation: letter-flicker 3s linear infinite;
}


.header h1
{
    animation: text-flicker 3s linear infinite;
}

@keyframes text-flicker {
    2% { 
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    6% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    11% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    37% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    43% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    46% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    47% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
  }
  
  @keyframes letter-flicker {
      2% { 
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    6% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    11% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    37% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    40% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
  }
  
  @keyframes border-flicker {
    2% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    3% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    5% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    6% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    7% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    9% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    13% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    16% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    18% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    22% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    34% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    36% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    54% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    100% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
  }